body{
    margin: 0;
}
.contenedor-sup{
     background: gray;
}

.caja-sup{
    display: flex;
    justify-content: center;
}

.img-camioneta{
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
}

.contenedor-contenidos-position{
    position: absolute;
    bottom: 25px;
    left: 10px;
    
}

.titulo{
color: aliceblue;
margin-left: 30px;
margin-bottom: 10px;
width: 250px;
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
}

.boton-pri{
    margin-left: 25px;
    margin-bottom: 30px;
    color: black;
    border-radius: 50px;
    border: 0;
    font-family: "Oswald", sans-serif;
        height: 35px;
}
.mini-descripcion{
    color: aliceblue;
    margin-left: 10px;
    font-size: 10px;
    }

.descripcion-productos{
color: aliceblue;
margin-left: 30px;
height: 50px;
}

.productos{
background: #00142e;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}

.producto{

width: 300px;
margin-top: 25px;
}

.img-producto{
    padding-bottom: 10px;
    img {
        width: 100%;
        border-radius: 10px;
     }
}

.boton-producto{
    background-color: cornflowerblue;
    margin: 30px;
    color: aliceblue;
    border-radius: 50px;
    font-family: "Oswald", sans-serif;
    border: 0;
        height: 35px;
}
